@model Etch.OrchardCore.CacheControl.ViewModels.CacheControlPartSettingsEditViewModel

@{
    var items = new List<SelectListItem>()
    {
        new SelectListItem { Text = "- Select Directive -".ToString(), Value = "" },
        new SelectListItem { Text = "No Cache", Value = Constants.CacheDirectives.NoCache },
        new SelectListItem { Text = "No Store".ToString(), Value = Constants.CacheDirectives.NoStore },
        new SelectListItem { Text = "Private".ToString(), Value = Constants.CacheDirectives.Private },
        new SelectListItem { Text = "Public".ToString(), Value = Constants.CacheDirectives.Public }
    };
}

<div class="mb-3">
    <label asp-for="Directive">@T["Cache Directive"]</label>
    <select asp-for="Directive" asp-items="@items" asp-validation-class-for="Directive" class="form-select form-control w-25"></select>
    <span class="hint">@T["Define the caching behaviour that should be used."]</span>
    <div class="text-danger">
        <span asp-validation-for="Directive"></span>
    </div>
</div>

<div class="mb-3">
    <label asp-for="Duration">@T["Cache Duration"]</label>
    <input asp-for="Duration" class="form-control">
    <span class="hint">@T["Define, in minutes, how long the item should live in the cache."]</span>
</div>